.navBarContainer {
  width: 100%;
  height: 80px;
  background: var(--main-background-color);
  color: var(--main-pink-color);
  display: flex;
  align-items: center;
  margin-bottom: 80px; /* This is to make sure the content below the navbar is not hidden behind it */
}

/* Kan ligges op i navBarContainer */
.headerWrapper {
  width: 100%;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-left: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 40px;
  display: flex;
}

.rightMenuItems {
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.rightMenuItems svg {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.rightMenuItems svg:first-child {
  margin-right: 20px;
}
