.page {
  background: var(--main-background-color);
}

.colorChangePink {
  color: var(--main-pink-color);
}

/* ------------------------------------------- */
/*! PRODUCT WRAPPER */
/* ------------------------------------------- */

.productsWrapper {
  padding-bottom: 54px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--font-dark-color);
}

.reviewsWrapper {
  padding-left: 30px;
  padding-right: 30px;
  color: var(--font-dark-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------------------- */
/*! REVIEW SECTION */
/* ------------------------------------------- */
.reviewsWrapper {
  width: 100%;
  color: var(--body-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  /* border-bottom: solid 1px var(--main-pink-color); */
  text-align: center;
  font-size: 20px;
}

.reviewImage {
  margin-bottom: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: solid 10px var(--main-pink-color);
}

.reviewextbox {
  margin-bottom: 18px;
}

.reviewextboxName {
  font-weight: bold;
}

.reviewextboxByline {
  margin-bottom: 24px;
}

.horizontalLine {
  border: none;
  border-top: 1px solid var(--main-pink-color);
  width: 100%;
}
