.ctaContainer {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaContainer img {
  width: 100%;
  object-fit: cover;
}

.ctaInfoBox {
  width: 100%;
  position: absolute;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--font-light-color);
}

.ctaInfoBox > div {
  width: 100%;
  padding: 44px 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaTitle {
  font-size: 54px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 45px 62px 14px 62px;
}

.ctaText {
  font-size: 18px;
  font-weight: regular;
  text-align: center;
  padding: 0 25px 30px 25px;
}

/* ------------------------------------------- */
/** RESPONSIVE */
/* ------------------------------------------- */

@media screen and (min-width: 768px) {
  .ctaInfoBox {
    width: 90%;
  }
}
